body{
    background-color: EABEC3;
    background-image: url('Pictures/flowerbackground.jpg');
    color: black;
    font-family: Baskerville Old Face;
    text-align: center;
    
}
a {
    text-decoration: none;
}

h1{
   font-size: 8vw; 
}

h2{
    font-size: 4.5vw;
}
h3{
    font-size: 3vw;
}
h4{
    font-size: 1.25vw;
}
h5{
    text-align: left;
    font-size: 3.5vw;
}
h6{
    font-size: 1.3vw;
}

img {
    border: 5px solid #000000;
  }



.topnav{
    
    /*background-image: url('Pictures/flowertop.png');*/
    background-size: cover;
    background-position: center 5%;
    
    
    height: 17vw;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.topnav::before{
    background: url('Pictures/flowertop.png');
    filter:opacity(1);
}

.topnav a{
    
    color: rgb(0, 0, 0);
    
    padding: 5vw 2.5vw;
    font-size: 2.7vw;
    
    margin-top: 3vw;

    font-weight: bold;
    text-align: center;
    opacity: 1;

    

}



.topnav a:hover{
    
    background-image: url('Pictures/frameSelect.webp');
    background-size: 17vw 15vw;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 2vw;
    color: black;
    font-size: 3vw;
    opacity: 5;
}

.topnav a.active{
    background-color: whitesmoke;
    color: grey;

}



.navbar{
    

    /*background-image: url('Pictures/flowerbottom.png');*/
    background-size: cover;
    background-position: bottom;

    margin-top: 0;
    

    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    
    list-style-type: none;

}

#bottomLogos{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2vw;
}

#pges{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#nme{
    justify-content: left;
}

.navbar a{
    color: rgb(0, 0, 0);

    display: flex;
    flex-direction: column;
    
    justify-content: center;

    
    padding: .1rem .5rem;

    margin-bottom: 4.5vw;
    
    text-align: center;
    line-height: .01;
    font-size: larger;
}

.navbar h3{
    margin: 2;
    padding: -2;
    line-height: .5;
}

.navbar h2{
    margin: 3;
    padding: 3;
    line-height: 2;
}

#toptable{
    width: "100%";
    
}

#cen{
    align-items: center;
    text-align: center;
}

#lft{
    align-items: "left";
}

#rght{
    align-items: "right";
}



#hdshot{
    clip-path: circle(42% at 50% 50%);
    
    width: 40vw;
    height: auto;
    alt: "Professional Headshot";
    
    padding-top: 0;

    border: 8vw solid rgb(255, 14, 118); /* Circular border */
    border-radius: 50%;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index:1;


}







#topOfLanding{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 20%;
}

#header{
    
    
    
    height: 50vw;
    width:100%;
    text-align: center;
    padding-top: 4vw;
    margin: 0;
    margin-top: 29vw;
    line-height: .2;
    position: relative;
    z-index: 2;

}

#abtMe{
    width: 65%;
    align-content: center top;
    align-self: center top;
    
    text-align: center -100%;
    place-items: center top;
    margin:auto;
    margin-top: -24vw;
    font-family: Bell MT;
    
}

#abtMe h6{
    
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
    background-color: EABEC3;
}

#abtMe h2{
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
    
}

#tech{
    width: 100%;
    align-content: center;
    align-self: center;
    
    text-align: center;
    place-items: center;
    margin:auto;
    margin-top: 0%;
    justify-content: space-evenly;

}

#service{
    width: 100%;
    align-content: center;
    align-self: center;
    
    text-align: center;
    place-items: center;
    margin:auto;
    margin-top: 0%;
    justify-content: space-evenly;
    padding: -3vw;

}

#service h1{
    margin: 0 5vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
}

#secService{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#secPicandTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#envision{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#envision h3{
    margin: 0 5vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
}


#diSaturday{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#diSaturday h3{
    margin: 0 5vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
}

#rylliesService{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#rylliesPicandTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#rb3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#rb3 h3{
    margin: 0 5vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
}

#rb3 h4{
    margin: 1vw 5vw;
    font-size: 2vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;

}


#waterford{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#waterford h3{
    margin: 0 5vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
}

#waterford h4{
    margin: 1vw 5vw;
    font-size: 1.75vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;

}

#formeService{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#formePicandTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#beautifulAbilities{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#beautifulAbilities h3{
    margin: 0 5vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
}

#beautifulAbilities h4{
    margin: 1vw 5vw;
    font-size: 2vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;

}


#serviceRetreat{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#serviceRetreat h3{
    margin: 0 5vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
}

#serviceRetreat h4{
    margin: 1vw 5vw;
    font-size: 1.75vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;

}

#shackathon{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#shackathon h3{
    margin: 0 5vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
}

#shackathon h4{
    margin: 1vw 5vw;
    font-size: 1.75vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;

}


#fishCampService{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#fishCampPicAndTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
    margin-right: 10vw;
}

#bergman{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#bergman h3{
    margin: 0 5vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
}

#bergman h4{
    margin: 1vw 5vw;
    font-size: 2vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;

}


#little{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#little h3{
    margin: 0 5vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
}

#little h4{
    margin: 1vw 5vw;
    font-size: 1.75vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;

}

#bigEventService{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#bigEventPicandTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
    margin-right: 10vw;
}

#staffAssistant{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#staffAssistant h3{
    margin: 0 5vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
}

#staffAssistant h4{
    margin: 1vw 5vw;
    font-size: 2vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;

}


#volunteer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#volunteer h3{
    margin: 0 5vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
}

#volunteer h4{
    margin: 1vw 5vw;
    font-size: 1.75vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;

}

#checkers {
    margin-right: 5vw;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
    alt: "Checker's Board";
    width: 18vw;
    height: auto;
}

#secService h2 {
    margin: 0 5vw;
    

}

#secService h4 {
    margin: 1vw 5vw;
    font-size: 1.75vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;

}


#tech h1 {
    margin: 0 5vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;

}


#techCheckers{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;

}

#checkers {
    margin-right: 5vw;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
    alt: "Checker's Board";
    width: 18vw;
    height: auto;
}

#techCheckers h2 {
    margin: 0 5vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;

}

#techCheckers h4 {
    margin: 1vw 5vw;
    font-size: 1.25vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;

}

#techTTT{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#ttt {
    margin-right: 10vw;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
    alt: "Tic Tac Toe Board";
    width: 18vw;
    height: auto;
}

#techTTT h2 {
    margin: 0 5vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
    font-size: 3.5vw;

}

#techTTT h4 {
    margin: 1vw 5vw;
    font-size: 1.25vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;

}

#techWordle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#wordle {
    margin-right: 5vw;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
    alt: "Wordle Board";
    width: 18vw;
    height: auto;
}

#techWordle h2 {
    margin: 0 5vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
    font-size: 3.5vw;

}

#techWordle h4 {
    margin: 1vw 5vw;
    font-size: 1.25vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;

}


#techWebsite{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    padding: 100;
    margin-left: auto;
    padding-left: 10vw;
    text-align: center;
    place-items: center;
}

#github {
    margin-right: 10vw;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
    alt: "Github Board";
    width: 18vw;
    height: auto;
    background-color: EABEC3;
}

#techWebsite h2 {
    margin: 0 5vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
    font-size: 3.5vw;

}

#techWebsite h4 {
    margin: 1vw 2vw;
    margin-right: 2vw;
    font-size: 1.25vw;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
    width: 100vw;

}

#skillsAndInterest {
    
    display: flex;
    flex-direction: column-reverse;
}

#bottomBar{
    line-height: .2;
    width: 55%;
    align-content: bottom -25%;
    align-self: bottom;
    text-align: center;
    place-items: bottom;
    margin:auto;
    padding: -5vw;
    margin-bottom: 0%;

}

#linkedIn{
    alt: "LinkedIn Logo";
    width: 2.5vw;
    height: auto;
    
}

#gthb{
    alt: "Github Logo";
    width: 2.5vw;
    height: auto;
}

#insta{
    alt: "Instagram Logo";
    width: 2.5vw;
    height: auto;
}

/*#service{
    width: 55%;
    align-content: center;
    align-self: center;
    text-align: center;
    place-items: center;
    margin:auto;
}*/

#SECLogo{
    alt: "SEC Logo";
    width: 23vw;
    height: auto;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
}

#RylliesLogo{
    alt: "Ryllies Logo";
    width: 30vw;
    height: auto;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
    margin-right: 4vw;
}

#FishCampLogo{
    alt: "Fish Camp Logo";
    width: 23vw;
    height: auto;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
    margin-right: 4vw;
    margin-left: -4.5vw;
}

#BigEventLogo{
    alt: "Big Event Logo";
    width: 20vw;
    height: auto;
    width: 23vw;
    height: auto;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
    margin-right: 4vw;
    margin-left: -2vw;
}

#FORMELogo{
    alt: "FORME Logo";
    width: 23vw;
    height: auto;
    background-color: EABEC3;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
    margin-right: 4vw;
}

#resume{
    width: 60%;
    height: 70vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;

}

#qualifications{
    width: 55%;
    align-content: center;
    align-self: center;
    text-align: center;
    place-items: center;
    margin:auto;
    margin-top: 5vw;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
    background-color: EABEC3;

}

#qualifications h4{
    font-size: 2vw;
}


#tggle{
    justify-content: right;
    margin-right: 2vw;
}

.toggle {
    position : relative ;
    display : inline-block;
    width : 4.5vw;
    height : 2.1vw;
    background-color: whitesmoke;
    border-radius: 3vw;
    border: .2vw solid black;
    margin-right: 0vw;
}
      

.toggle:after {
    content: '';
    position: absolute;
    width: 1.8vw;
    height: 1.8vw;
    border-radius: 100%;
    background-color: rgb(109, 185, 247);
    border: .2vw solid black;
    margin-bottom: .01vw;
    left: 0vw; 
    transition:  all 0.25s;
}


.checkbox:checked + .toggle::after {
    left : 2.4vw; 
    width: 1.8vw;
    height: 1.8vw;
    border: .2vw;
    border: .2vw solid black;
}
      
.checkbox:checked + .toggle {
    background-color: EABEC3;
}
      
.checkbox { 
    display : none;
}

#link{
    text-decoration: underline;
    align-items: center;
    justify-content: center;
    border-style: ridge;
    border-color: E6BD37;
    border-width: 2vw;
    background-color: EABEC3;
    margin-left: 3vw;
}

#linkInsta{
    text-decoration: underline;

}
